/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
}

:root{
    font-family: 'DM Mono','Courier New', Courier, monospace ;
    font-weight: bold;
    color: #000;}


/* Header z-index com 2 digitos */ 
header {
    /* border: 2px solid red; */
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
}

.nav-desktop {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-top: 30px;
    padding: 15px;
    gap: 20px;
    font-size: 18px;
}

.nav-desktop a{
    
    color:black;
    text-decoration: none;
}

.nav-desktop a.active{
    color: rgb(151, 0, 0);
}

.logo {
    color:black;
    font-size: 20px;
    position: absolute;
    align-self: flex-start;
    background-color: transparent;
    padding: 30px;
    text-decoration: none;
}

/*Julia Kan config text*/
.logo h1 {
    font-family: 'DM Mono','Courier New', Courier, monospace ;
    font-weight: bold;
    color: #000;
}

/* Main */

main {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.home-menu {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(C:\Users\Cauan\projetos_vscode\juliakan\src\assets\images\PerformingArts\Projeto_1_NomeDoProjeto\baú.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    padding-top: 190px;
    padding-bottom: 190px;
    gap: 20px;
}



.button-container {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
}


.button-container button {
    width: 330px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    transition: color 0.3s ease;
    padding: 6px;
    border-radius: 15px;
}

.button-container button:hover {
    color: rgba(0, 0, 0, 0.74);
}

.separador {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 350;
    margin-bottom: 15px;
    background: transparent;
    font-size: 85px;
}

.visual-arts {
    font-family: 'DM Mono','Courier New', Courier, monospace ;
    width: 200px;
    text-align: right;
    padding: 26px 0;
}

.performing-arts {
    font-family: 'DM Mono','Courier New', Courier, monospace ;
    color: #000;
    width: 200px;
    text-align: left;
    padding: 26px 0;
}
/* Translate Button z-index com 3 digitos */
.translate {
    display: flex;
    position: fixed;
    top: 0px;
    right: 10px; 
    gap: 3px;
    z-index: 100;
}

.translate .separador {
    margin-top: 10px;
    font-size: 20px ;
}

.translate button{
    width: auto;
    border: none;
    padding: 2px 6px;
    margin: 0px;
    background-color: transparent;
    transition: color 0.5s ease;
}

.translate button:hover{
    color: rgba(0, 0, 0, 0.616);
    cursor: pointer;
}

/* Footer */

footer {
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
}

.footer {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.copyright {
    background-color: green;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-social {
    background-color: pink;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    gap: 20px;
}

/* HoverCard z-index com 1 digito */

.hoverCard-containers {
    /* border: 2px solid red ; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    margin-top:200px ;
    justify-content: center;
    gap: 30px;
    justify-self: center;
}

.hover-card {
    /* background-color: black; */
    display: flex;
    padding: 0.4em;
    border: solid 1px rgba(0, 0, 0, 0.171);
    position: relative;
    width: 500px;
    height: 300px;
    aspect-ratio: 1/1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border-radius: 16px; */
    transition: transform 0.3s ease;
    z-index: 1;
}



.hover-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; /* suaviza a troca de imagens */
    /* border-radius: 16px; */
    opacity: 0;
    z-index: 2
}

.hover-card img.active {
    opacity: 1;
    z-index: 3;
}


.hover-card:hover {
    transform: scale(1.03);
}

.overlay {
    opacity: 0;
    z-index: 12;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1rem;
    transition: opacity 0.5s ease-in-out;
    /* border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; */
}

.hover-card:hover .overlay {
    opacity: 1;
    }