/* Reset geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root{     
    --color-black: #161616; 
    --font-text: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --font-accent: 'DM Mono','Courier New', Courier, monospace;

    --hover-card-height: 300px;
    --hover-card-width: 500px;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
}


/* Header z-index com 2 digitos */ 
header {
    /* border: 2px solid red; */
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    z-index: 10;
}

.top-wrapper {
    position: fixed;
    width: 100%;
    height: 15%;
    z-index: 99;

    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.849), 
        rgba(255, 255, 255, 0));;
}

.top-wrapper header{
    background: none;

}


/* ----------NAVBAR ----------- */

.projects-navbar {
    background: none;
    font-size: 40px;
    margin-top: 5%;
    width: 200px;
    padding: 10px;
    position: fixed;
    overflow-y: auto;
}

.projects-navbar ul {
    /* border: 2px solid red;gi */
    list-style: none;
    max-width: 150px;
}

.project-link {
    display: block;
    width: 100%;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 13px;
    transition: background 0.2s;
}

.project-link:hover {
    background: #e3e3e36b;
    border-radius: 15px;
}

.project-link.active {
    font-weight: 500;
}

.nav-desktop {
    /* border: 1px solid red; */
    display: flex;
    width: 90.5%;
    list-style: none;
    justify-content: flex-end;
    margin-top: 16px;
    padding: 10px;
    gap: 20px;
    font-size: 14px;
}

.nav-desktop a{
    
    color:var(--color-black);
    text-decoration: none;
}

.nav-desktop a.active{
    color: rgb(151, 0, 0);
}

.logo {
    /* border: 1px solid green; */
    color:black;
    font-size: 15px;
    position: absolute;
    align-self: flex-start;
    background-color: transparent;
    padding: 10px;
    text-decoration: none;
    z-index: 100;
}

/*Julia Kan config text*/
.logo h1 {
    z-index: 100; 
    font-family: 'DM Mono','Courier New', Courier, monospace ;
    font-weight: bold;
    color: var(--color-black);
}

/* Main */

main {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.home-menu {
    flex: 1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    
    padding: 0;
    gap: 20px;
}

.home-menu-content {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-menu-btn {
    display: none;
    margin-top: 5%;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-black);
}

.button-container {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
}


.button-container button {
    width: 330px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    transition: color 0.3s ease;
    padding: 6px;
    border-radius: 15px;
}

.button-container button:hover {
    color: rgba(0, 0, 0, 0.74);
}

.separador {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 350;
    margin-bottom: 15px;
    background: transparent;
    font-size: 85px;
}

.visual-arts {
    font-family: 'DM Mono','Courier New', Courier, monospace ;
    width: 200px;
    text-align: right;
    padding: 26px 0;
}

.performing-arts {
    font-family: 'DM Mono','Courier New', Courier, monospace ;
    color: var(--color-black);
    width: 200px;
    text-align: left;
    padding: 26px 0;
}
/* Translate Button z-index com 3 digitos */
.translate {
    /* border: 1px solid red; */
    display: flex;
    align-self: flex-end;
    position: fixed;
    top: 1.2%;
    gap: 3px;
    z-index: 100;
    font-weight: bold;

}

.translate .separador {
    margin-top: 10px;
    font-size: 20px ;
    /* font-weight: 500; */
}

.translate button{
    /* font-weight: bold; */

    width: auto;
    border: none;
    padding: 2px 6px;
    margin: 0px;
    background-color: transparent;
    transition: color 0.5s ease;
}

.translate button:hover{
    color: rgba(0, 0, 0, 0.616);
    cursor: pointer;
}

/* Footer */

footer {
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
}

.footer {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.copyright {
    background-color: green;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-social {
    background-color: pink;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    gap: 20px;
}

/* HoverCard z-index com 1 digito */
/*---------------- main --------------------*/
.hoverCard-page-containers {
    /* border: 2px solid red ; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top:10%;
    padding: 0 10%;
    gap: 2.5em 4em;
}

/* Hover Card */
.hover-card {
    border: solid 1px rgba(0, 0, 0, 0.171);
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 13/9;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
}

.hover-card:hover {
    transform: scale(1.06); 
}

.hover-card-img-container img.active {
    opacity: 1;
    z-index: 3;
}

.hover-card-img-container {
    width:100%;
    height: 100%;
    /* padding-left: 6%; */
    /* padding-right: 6%; */
    box-sizing: border-box;
    overflow: hidden;
}


.hover-card-img-container img {
    height: 100%;
    width:100%;
    object-fit: cover;
    transition: transform 0.5s ease; 
    opacity: 0;
    z-index: 2;
    display: block;
    
}


.hover-card .overlay {
    
    opacity: 0;
    z-index: 12;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: var(--font-accent);
    background: rgba(233, 233, 233, 0.6);
    color: black;
    font-size: 1.5rem;
    transition: opacity 0.5s ease-in-out;
    font-weight: bold;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hover-card:hover .overlay {
    opacity: 0.8;
}


/*--------------- ProjectPage ----------------*/

.project-page-container {
    /* border: 2px solid  red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    align-items: center;
}

main.project-content {
    /* border: 2px solid  rgb(8, 255, 8); */
    display: flex;
    margin-top: 3.5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    flex-direction: column;
    animation: fadeIn 0.5s ease;
}

main.project-content h1 {
    font-family: var(--font-accent);
    align-self: flex-start;
    font-size: 1rem;
    color: var(--color-black);
    letter-spacing: -1px;
    z-index: 100;
}

main.project-content p {
    /* border: 2px solid blue ; */
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    margin-left: auto;
    margin-right: auto;
}

.project-video {
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3%;
    width: 70%;
    height: 70%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;    
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.project-video iframe {
    border: 2px solid green;
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
}

/* ----------------------------- Carousel -------------------------- */

.carousel {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 40px auto;
}

.carousel-window {
    width: 100%;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.carousel-hitbox {
    /* border: 2px solid green; */
    border: none;
    position: absolute;
    top: 0;
    width:30%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    z-index: 20;
}

/* lado esquerdo */
.carousel-hitbox.left {
    align-self: flex-end;
}

/* lado direito */
.carousel-hitbox.right {
    align-self:flex-start ;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0 ;
    transition: opacity 0.8s ease-in-out;

}

.carousel-image.active {
    opacity: 1;
}

/* Dots */
.carousel-dots {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.dot {
    width: 6px;
    height: 6px;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

.dot.active {
    background: black;
}

/* ----------------------- Carousel Fullscreen -------------------------- */

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    animation: fadeIn 0.3s ease;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    object-fit: contain;
    animation: pop 0.3s ease;
}

/* Close button */
.close-btn {
    position: fixed;
    top: 25px;
    right: 35px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 2100;
    user-select: none;
    transition: opacity 0.2s;
}

.close-btn:hover {
    opacity: 0.7;
}

/* Navigation buttons */
.fs-btn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2100;
    user-select: none;
    transition: opacity 0.2s;
}

.fs-btn:hover {
    opacity: 0.6;
}

.fs-btn.left {
    left: 40px;
}

.fs-btn.right {
    right: 40px;
}

/* Empilha as imagens no fullscreen */
.fullscreen-images {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.8s ease-in-out; 
    border-radius: 10px;
}

.fullscreen-image.active {
    opacity: 1;
}



/* ------------------RESPONSIVIDADE-------------------- */

/* --------- MOBILE GERAL – até 768px-------------------*/
@media (max-width: 768px) {

    /* Header */
    header {
        /* background-color:#fff ;
        border:2px solid red; */
        padding: 10px 20px;
        height: 20%;
    }

    .logo {
        padding: 15px;
        font-size: 16px;
    }

    .logo h1 {
        z-index: 100;
        font-size: 18px;
    }

    /* Home Menu */
    .home-menu {
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: 100vh;
        gap: 15px;
    }
    
    .home-menu-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

    .button-container button {
        width: 250px;
        font-size: 20px;
        padding: 8px;
    }

    .separador {
        font-size: 48px;
        margin-bottom: 10px;
    }
    
    /* NAVBAR-PROJECTS */
    
    .projects-navbar {
        /* border: 2px solid blue; */
        top: 12%;
        background:linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.849), 
        rgba(255, 255, 255, 0.493));
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 100;
    }
    
    .projects-navbar ul {
        display: flex;
        gap: 18px;
    }

    .project-link {
        font-size: 14px;
        /* padding: 8px 0; */
        white-space: nowrap; 
    }
    
    .top-wrapper {
        /* border: 2px solid red; */
        background-color: #fff ;
        z-index: 500;
    }

    

    
    .nav-desktop {        
        display: none;
        font-size: 14px;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        margin-top: 10px;
        right: 20px;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        /* z-index: 1000; */

    }

    .nav-desktop.open {
        display: flex; 
        /* z-index: 2500; */

    }

    .mobile-menu-btn {
        /* border: 2px solid red; */
        /* background-color: green; */
        display: block; 
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .visual-arts,
    .performing-arts{
    width: auto;
    padding:15px 0;
    text-align: center;
    font-size: 18px
    }

    /*hovercard*/
    
    .hoverCard-page-containers {
        grid-template-columns: 1fr;
        padding: 0 5%;             
        gap: 1.5em;                
        margin-top: 20%;           
    }

    .hover-card {
        width: 100%;               
        aspect-ratio: 16/9;        
    }
    
    .hover-card .overlay {
        color: #161616bd;
        opacity: 0.8 ;        
        background: rgba(233, 233, 233, 0.541); 
        z-index: 10;
    }

    /* Desativa o efeito do hover no mobile */
    .hover-card:hover {
        transform: none;
    }
    
    /* ProjectPage*/
    main.project-content {
        width: 90%;
        margin-top: 110px;
        padding: 10px;
    }

    main.project-content h1 {
        font-size: 2.2rem;
        margin-left: 0;
        text-align: center;
    }

    main.project-content p {
        font-size: 1rem;
        line-height: 1.6;
    }
    
    
    
    
    /* CAROUSEL */
        .carousel-hitbox {
            display: none;   /* remove os botões */
        }
        

    /* GALLERY */
    .gallery {
        width: 100%;
        max-width: 100%;
    }

    .carousel-window {
        height: 55vw; 
        max-height: 360px;
    }

    /* FULLSCREEN IMAGES */
    .fullscreen-image {
        max-width: 95%;
        max-height: 70%;
    }

    .fs-btn {
        font-size: 3rem;
    }

    .close-btn {
        font-size: 2.5rem;
    }
    
    /* VIDEO */
    .project-video iframe {
        height: 350px; 
    }
    
}

/* ----------– até 480px ------------------*/
@media (max-width: 480px) {

    /*--- Home Menu ---*/
    .home-menu {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 100vh;
    }

    .button-container button {
        width: 180px;
        font-size: 16px;
    }

    .separador {
        font-size: 36px;
    }

    /*--- hover Cards ---*/
    .hover-card {
        height: 170px;
    }

    .overlay {
        font-size: 1rem;
    }
    
    /* --- Carousel --- */
    
    .carousel-window {
        height: 220px;
    }

    .fs-btn {
        font-size: 2rem;
    }

    .close-btn {
        font-size: 2rem;
        right: 20px;
    }
    
    /*--- Video --- */
    .project-video iframe {
        height: 350px; 
    }
}

/* ---------RESET LINKS MOBILE------------- */
a,
a:visited,
a:active,
a:focus {
    color: var(--color-black) !important;
    text-decoration: none !important;
}

.button-container a button {
    color: var(--color-black) !important;
}
